{$API_DOMAIN} {
    encode zstd gzip
    reverse_proxy api:8000

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
        -Server
    }

    log {
        output stdout
        format json
    }
}
